#modalDetalleProducto{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#modalDetalleProducto #contenedorModalDetalleProducto{
    background-color: whitesmoke;
    margin: auto;
    padding: 25px;
    width: 60%;
    overflow: auto;

}

#modalDetalleProducto #cerrarModal{
    color: rgb(192, 40, 40);
    float: right;
    font-size: 26px;
    font-weight: bold;
}

#modalDetalleProducto #cerrarModal:hover, #cerrarModal:focus {
    color: #0000;
    text-decoration: none;
    cursor: pointer;
}

#modalCarrito{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#modalCarrito #listaModalCarrito{
    background-color: #88968d;
    margin: auto;
    padding: 25px;
    width: auto;
}

#modalCarrito #cerrarModalCarrito{
    color: rgb(192, 40, 40);
    float: right;
    font-size: 26px;
    font-weight: bold;
}

#modalCarrito #cerrarModalCarrito:hover, #cerrarModalCarrito:focus {
    color: #0000;
    text-decoration: none;
    cursor: pointer;
}

#productosCategoria{
    display: flex;
    flex-wrap: wrap;
}

.card{
    flex: 0 0 48%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#contenedorIndex{
    display: flex;
    flex-wrap: wrap;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card-body img {
    height: 80%;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px;
    object-fit: cover;
}


.contenedorBotonSaberMas{
    display: flex;
    justify-content: end;
}

.btnSaberMas, #agregarAlCarrito{
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
}

.btnSaberMas:hover, #agregarAlCarrito{
    background-color: #218838;
}

.btnSaberMas:active {
    background-color: #1e7e34;
    transform: scale(0.95);
}

.card-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    color: #555;
}


#contenedorModalDetalleProducto{
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedorModalDetalleProducto h1{
    text-align: center;
}

#contenedorBtnCerrarModal{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}