@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#botonCarrito{
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#botonCarrito img{
    width: 100%;
    height: auto;
}


#productosCategoria{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card{
    flex: 0 0 48%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card:hover{
    transform: scale(1.01);
    transition-duration: 0.5s;
}

#contenedorIndex{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card-body img {
    height: 80%;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px;
    object-fit: cover;
}


.contenedorBotonSaberMas{
    display: flex;
    justify-content: end;
}

.btnSaberMas{
    background-color: #218838;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.btnSaberMas:hover{
    background-color: #88b6a3;
    color: white;
}

.btnSaberMas:active {
    background-color: #1e7e34;
    transform: scale(0.95);
}

.card-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    color: #555;
}


#contenedorModalDetalleProducto{
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedorModalDetalleProducto h1{
    text-align: center;
}

#contenedorBtnCerrarModal{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgModalDetalle{
    width: 100px;
    height: 100px;
}

.navbar{
    background-color: #88b6a3 !important;
    
}
.navbar li a, a{
    color: whitesmoke !important;
    font-weight: bold;
}

#selectNavBar{
    background-color: #878286;
}

.dropdown-item:hover{
    background-color: #88b6a3 !important;
}

#listaCarrito{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
#listaCarrito img {
    width: 5%;
}

#listaCarrito .card{
    transform: none;
    width: 100%;
}

#listaCarrito #precioTotal {
    margin-left: auto;
}


